---
title: Instagram Printer Hire, Live Feed & Digital Experiences
desc: Hire or rent our Live Instagram Printer, the next-gen photo booth, or Live Instagram Feed for brand activations, corporate events and weddings.
homeActive: active
ngMenu: data-menu
---
<section id="home" class="page-section" data-section>
	<header>
		<h2 class="visuallyhidden">Home</h2>
	</header>
	<div class="carousel-wrapper" id="home-carousel" data-carousel>
		<div class="carousel">
			<div class="item item-01 visible-item">
				<p class="item-caption">
					<strong>
						<span class="br">HIRE THE LIVE INSTAGRAM PRINTER </span>
						<span class="br">Snap. Tag. Print.</span>
					</strong>
				</p>
			</div>
			<div class="item item-02">
				<p class="item-caption">
					<strong>
						<span class="br">HIRE THE LIVE FEED </span>
						<span class="br">SNAP. TAG. STREAM.</span>
					</strong>
				</p>
			</div>
		</div>
	</div>
	
	{{> socialMenu}}
</section>

<section id="toys" class="page-section" data-section>
	<header class="page-section-header">
		<h2 class="page-section-title">
			The Internet is pretty rad.
		</h2>
		<p class="page-section-subtitle">
			<span class="br">With enough cool content created every day to entertain </span>
			<span class="br">us for hours (or years). But sometimes we want that </span>
			<span class="br">content to translate IRL (in real life).</span>
		</p>
		<p class="page-section-subtitle">
			<span class="br">Social Playground bridges the gap between the online and </span>
			<span class="br">offline worlds through live digital experiences.</span>
		</p>
	</header>
	<nav class="fluid-columns">
		<a href="/instagram-printer/" title="Instagram Printer" class="col-1-2 toy" id="toy-instagram-printer">
			<div class="inner">
				<div class="overlay-content">
					<p class="toy-title">
						<span class="br">Instagram </span>
						<span class="br">Printer</span>
					</p>
					<br>
					<span class="toy-link">
						View
					</span>
				</div>
				<div class="overlay"></div><div class="bg"></div>
			</div>
		</a><a href="/live-feed/" title="Live Feed" class="col-1-2 toy" id="toy-live-feed">
			<div class="inner">
				<div class="overlay-content">
					<p class="toy-title">
						<span class="br">Live </span>
						<span class="br">Feed</span>
					</p>
					<br>
					<span class="toy-link">
						View
					</span>
				</div>
				<div class="overlay"></div><div class="bg"></div>
			</div>
		</a>
	</nav>
</section>

<section id="clients" class="page-section">
	<header class="page-section-header">
		<h2 class="page-section-title">
			<span class="br">We work with some of </span>
			<span class="br">the coolest kids </span>
			<span class="br">in the playground.</span>
		</h2>
		<span class="icon-lightning page-section-icon"></span>
	</header>
	<ul id="clients-logo-list">
		<li>
			<img src="images/clients/jacobs-creek.svg" data-svg alt="Jacob’s Creek - Social Playground">
		</li><li>
			<img src="images/clients/spotify.svg" data-svg alt="Spotify - Social Playground">
		</li><li>
			<img src="images/clients/benefit-san-francisco.svg" data-svg alt="Benefit San Francisco - Social Playground">
		</li><li>
			<img src="images/clients/topshop-topman.svg" data-svg alt="Topshop Topman - Social Playground">
		</li><li>
			<img src="images/clients/fox-sports.svg" data-svg alt="Fox Sports - Social Playground">
		</li><li>
			<img src="images/clients/sportsgirl.svg" data-svg alt="Sportsgirl - Social Playground">
		</li><li>
			<img src="images/clients/mens-health.svg" data-svg alt="Mens Health - Social Playground">
		</li><li>
			<img src="images/clients/electrolux.svg" data-svg alt="Electrolux - Social Playground">
		</li><li>
			<img src="images/clients/royal-caribbean.svg" data-svg alt="Royal Caribbean - Social Playground">
		</li><li>
			<img src="images/clients/cosmopolitan.svg" data-svg alt="Cosmopolitan - Social Playground">
		</li><li>
			<img src="images/clients/midori.svg" data-svg alt="Midori - Social Playground">
		</li><li>
			<img src="images/clients/virgin-mobile.svg" data-svg alt="Virgin Mobile - Social Playground">
		</li><li>
			<img src="images/clients/argyle.svg" data-svg alt="Argyle - Social Playground">
		</li><li>
			<img src="images/clients/cotton-on.svg" data-svg alt="Cotton On - Social Playground">
		</li><li>
			<img src="images/clients/facebook.svg" data-svg alt="Facebook - Social Playground">
		</li><li>
			<img src="images/clients/st-george.svg" data-svg alt="St George - Social Playground">
		</li>
	</ul>
</section>

<section id="past-events" class="page-section" data-section>
	<header class="page-section-header">
		<h2 class="page-section-title">
			<span class="br">And run some pretty </span>
			<span class="br">amazing events.</span>
		</h2>
	</header>
	<div class="carousel-wrapper" id="past-events-carousel" data-carousel data-full-height>
		<div class="carousel">
			<div class="item item-01 visible-item"></div>
			<div class="item item-02"></div>
			<div class="item item-03"></div>
			<div class="item item-04"></div>
			<div class="item item-05"></div>
		</div>
	</div>
</section>

<section id="newsletter" class="page-section">
	<header class="page-section-header">
		<h3 class="page-section-subtitle">
			<span class="br">Join our mailing list and we’ll keep you up to date </span>
			<span class="br">on all the fun and games.</span>
		</h3>
	</header>
	<form id="signupForm" name="signupForm" novalidate>
		<div id="inputWrapper-signupForm">
			<label for="email-signupForm" class="visuallyhidden">Email</label>

			<input type="email" name="email" id="email-signupForm" placeholder="Enter your email" data-placeholder-fallback="Enter your email" required data-ng-model="signupFields.email" data-ng-class="{submitting: signupForm.submitting}">

			<button type="submit" id="submit-signupForm" data-ng-click="signup(signupFields)" data-ng-disabled="signupForm.submitting">
				<span data-ng-hide="signupForm.submitting">Join</span>
				<span data-ng-hide="!signupForm.submitting">Submitting</span>
			</button>
		</div>

		<div class="form-error" id="error-signupForm" data-ng-class="{'has-error': signupForm.$invalid && signupForm.clicked}">
			<span data-ng-show="signupForm.email.$error.required">Email is required</span>
			<span data-ng-show="signupForm.email.$error.email">Email is invalid</span>
			<span data-ng-show="signupForm.errorEmail">{%signupForm.errorEmail%}</span>
		</div>

		<div class="form-response" id="response-signupForm" data-ng-class="{'has-response': signupForm.response}" data-ng-hide="signupForm.clicked">
			{%signupForm.response%}
		</div>
	</form>
</section>

<section id="contact" class="page-section" data-section>
	<header class="page-section-header">
		<h2 class="page-section-title">
			<span class="br">At the end of the day</span>
			<span class="br">we like to have fun.</span>
		</h2>
		<p class="page-section-subtitle">
			<span class="br">We know you do too. That’s why </span>
			<span class="br">we created Social Playground.</span>
			<span class="br">Organize a play date today!</span>
		</p>
	</header>
	<div class="fluid-columns contact-address-list">
		<div class="col-row">
			<section class="col-1-2 contact-address">
				<header>
					<h3 class="address-country">Australia</h3>
					<p class="address-city">Head Office</p>
				</header>
				<dl class="address-details">
					<dt class="address-property address-property-location">Location</dt>
					<dd class="address-detail address-detail-location">
						<a href="https://www.google.com.au/maps/place/137-141+Bridge+Rd+Glebe+NSW+2037/" target="_blank" class="address-detail-location-link">
							<span class="address-detail-icon icon-location"></span>
							<span class="address-detail-text">
								Suite 4 Level 1 <br>
								137-141 Bridge Rd <br>
								Glebe, NSW 2037
							</span>
						</a>
					</dd>
					<dt class="address-property address-property-phone">Phone</dt>
					<dd class="address-detail address-detail-phone">
						<a href="tel:+61296920900" class="address-detail-phone-link">
							<span class="address-detail-icon icon-mobile"></span>
							<span class="address-detail-text">+61 2 9692 0900</span>
						</a>
					</dd>
					<dt class="address-property address-property-email">Email</dt>
					<dd class="address-detail address-detail-email">
						<a href="mailto:hello@socialplayground.com.au" class="address-detail-email-link" target="_blank">
							<span class="address-detail-icon icon-mail"></span>
							<span class="address-detail-text">Send us an email</span>
						</a>
					</dd>
				</dl>
			</section>
			<section class="col-1-2 contact-address">
				<header>
					<h3 class="address-country">United Kingdom</h3>
					<p class="address-city">Head Office</p>
				</header>
				<dl class="address-details">
					<dt class="address-property address-property-location">Location</dt>
					<dd class="address-detail address-detail-location">
						<a class="address-detail-location-link">
							<span class="address-detail-icon icon-location"></span>
							<span class="address-detail-text">
								Techspace, <br>
								1 Bath Street, <br>
								London, EC1V 9LB
							</span>
						</a>
					</dd>
					<dt class="address-property address-property-phone">Phone</dt>
					<dd class="address-detail address-detail-phone">
						<a href="tel:+4402038052601" class="address-detail-phone-link">
							<span class="address-detail-icon icon-mobile"></span>
							<span class="address-detail-text">+44 020 3805 2601</span>
						</a>
					</dd>
					<dt class="address-property address-property-email">Email</dt>
					<dd class="address-detail address-detail-email">
						<a href="mailto:hello@socialplayground.co.uk" class="address-detail-email-link" target="_blank">
							<span class="address-detail-icon icon-mail"></span>
							<span class="address-detail-text">Send us an email</span>
						</a>
					</dd>
				</dl>
			</section>
		</div>
		
		<div class="col-row">
			<section class="col-1-2 contact-address">
				<header>
					<h3 class="address-country">Singapore</h3>
					<p class="address-city">Head Office</p>
				</header>
				<dl class="address-details">
					<dt class="address-property address-property-location">Location</dt>
					<dd class="address-detail address-detail-location">
						<a class="address-detail-location-link">
							<span class="address-detail-icon icon-location"></span>
							<span class="address-detail-text">
								2 Kallang Ave <br/>
								#08-29, CT Hub <br/>
								Singapore 339407
							</span>
						</a>
					</dd>
					<dt class="address-property address-property-phone">Phone</dt>
					<dd class="address-detail address-detail-phone">
						<a href="tel:+6596210450" class="address-detail-phone-link">
							<span class="address-detail-icon icon-mobile"></span>
							<span class="address-detail-text">+65 9621 0450</span>
						</a>
					</dd>
					<dt class="address-property address-property-email">Email</dt>
					<dd class="address-detail address-detail-email">
						<a href="mailto:info@socialplayground.com.sg" class="address-detail-email-link" target="_blank">
							<span class="address-detail-icon icon-mail"></span>
							<span class="address-detail-text">Send us an email</span>
						</a>
					</dd>
				</dl>
			</section>
			<section class="col-1-2 contact-address">
				<header>
					<h3 class="address-country">New Zealand</h3>
					<p class="address-city">Interlike</p>
				</header>
				<dl class="address-details">
					<dt class="address-property address-property-location">Location</dt>
					<dd class="address-detail address-detail-location">
						<a class="address-detail-location-link">
							<span class="address-detail-icon icon-location"></span>
							<span class="address-detail-text">
								249b Jervois Rd, <br>
								Herne Bay, <br>
								Auckland 1011
							</span>
						</a>
					</dd>
					<dt class="address-property address-property-phone">Phone</dt>
					<dd class="address-detail address-detail-phone">
						<a href="tel:+64093604026" class="address-detail-phone-link">
							<span class="address-detail-icon icon-mobile"></span>
							<span class="address-detail-text">+64 09 360 4026</span>
						</a>
					</dd>
					<dt class="address-property address-property-email">Email</dt>
					<dd class="address-detail address-detail-email">
						<a href="mailto:hello@interlike.co.nz" class="address-detail-email-link" target="_blank">
							<span class="address-detail-icon icon-mail"></span>
							<span class="address-detail-text">Send us an email</span>
						</a>
					</dd>
				</dl>
			</section>
		</div>
	</div>
</section>

<section id="partners" class="page-section" data-section data-toggle-form="contactFormStatus.visible">
	<header class="page-section-header">
		<h2 class="page-section-title">
			PARTNERS.
		</h2>
		<p class="page-section-subtitle">
			<span class="br">Interested in a commercial license? We’re on the lookout </span>
			<span class="br">for global playmates. Get in touch to find out more.</span>
		</p>

		<div id="contactForm-control">
			<button id="contactForm-toggle" data-ng-click="contactFormStatus.visible = true" data-ng-hide="contactFormStatus.visible">Enquire</button>
			<button id="contactForm-close" data-ng-click="contactFormStatus.visible = false" data-ng-show="contactFormStatus.visible">
				<span class="visuallyhidden">Close</span>
				<span class="icon-close"></span>
			</button>
		</div>
	</header>

	<div id="contactForm-wrapper" data-ng-class="{visible: contactFormStatus.visible}">
		<form id="contactForm" name="contactForm" novalidate>
			<div class="input-row input-row-2cols">
				<div class="input-col">
					<label for="name">Name</label>
					<input type="text" name="name" id="name" placeholder="name" data-placeholder-fallback="name" data-ng-model="contactFields.name" required>
				</div><div class="input-col">
					<label for="phone">Phone</label>
					<input type="text" name="phone" id="phone" placeholder="phone" data-placeholder-fallback="Phone" data-ng-model="contactFields.phone" required>
				</div>
			</div>

			<div class="input-row">
				<div class="input-col">
					<label for="cemail">Email</label>
					<input type="email" name="cemail" id="cemail" placeholder="email" data-placeholder-fallback="email" data-ng-model="contactFields.email" required>
				</div>
			</div>

			<div class="input-row">
				<div class="input-col">
					<label for="message">Message</label>
					<textarea name="message" id="message" placeholder="message" data-placeholder-fallback="message" data-ng-model="contactFields.message" required></textarea>
				</div>
			</div>

			<div class="input-row">
				<div class="input-col">
					<button type="submit" id="submit-contactForm" data-ng-click="contact(contactFields)" data-ng-disabled="contactForm.submitting">
						<span data-ng-hide="contactForm.submitting">Submit</span>
						<span data-ng-hide="!contactForm.submitting">Submitting</span>
					</button>
				</div>
			</div>

			<div class="form-error" id="error-contactForm" data-ng-class="{'has-error': contactForm.$invalid && contactForm.clicked}">
				<div class="error-message" data-ng-show="contactForm.name.$error.required">Name is required</div>
				<div class="error-message" data-ng-show="contactForm.cemail.$error.required">Email is required</div>
				<div class="error-message" data-ng-show="contactForm.cemail.$error.email">Email is invalid</div>
				<div class="error-message" data-ng-show="contactForm.phone.$error.required">Phone is required</div>
				<div class="error-message" data-ng-show="contactForm.message.$error.required">Message is required</div>
			</div>

			<div class="form-response" id="response-contactForm" data-ng-class="{'has-response': contactForm.response}" data-ng-hide="contactForm.clicked">
				{%contactForm.response%}
			</div>
		</form>
	</div>
</section>