<aside id="menu-social">
	<nav>
		<ul>
			<li><a href="https://www.facebook.com/socialplaygrnd" target="_blank" class="icon-facebook"><span class="visuallyhidden">facebook</span></a></li><li>
			<a href="https://twitter.com/socialplaygrnd" target="_blank" class="icon-twitter"><span class="visuallyhidden">twitter</span></a></li><li>
			<a href="http://instagram.com/socialplaygrnd" target="_blank" class="icon-instagram"><span class="visuallyhidden">instagram</span></a></li>
		</ul>
	</nav>
</aside>